{%extends 'base.html'%}
{%import 'macros.html' as macros%}
{%import 'bootstrap/wtf.html' as wtf %} 

{%block title%}{{super()}} Bienvenido{%endblock%}

{%block content%}

    {%if username%}
        <h1>Bienvenido, {{ username | capitalize}} </h1>
    {%endif%} 

    {%if user_ip%}
        <h3>Su numero IP es: {{user_ip}}</h3>
    {%else%}
        <a href="{{url_for('index')}}">ir al inicio</a>
    {%endif%}
        <ul style="list-style: none;">
    {% for todo in todos%}
         {{macros.render_todo(todo)}}
    {%endfor%}
        </ul>
        {{wtf.quick_form(login_form)}}

{%endblock%}
   