
<nav>
    <img src="{{url_for('static', filename='images/logoVp.png')}}" alt="logoVp">
    <ul>
        <li><a href="/">inicio</a></li>
        <li><a href="/desarrollo">desarrollo</a></li>
        <li><a href="/servicios">servicios</a></li>
        <li><a href="/hosting">hosting</a></li>
        <li><a href="/infraestructura">infraestructura</a></li>
        
        {%if current_user.is_authenticated%} 
        {%endif%}   
        {% if current_user.is_authenticated %}
            <li class="logout"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %} 
    </ul>
    
</nav>